@model EMS_MVC_07Jan2024.Models.Department.DepartmentModel


@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>*@
        @*<form action="SaveData" method="post">*@

<div class="row">
    <form method="post">
        <table>
            <tr>
                <th>Department Code</th>
                <td>
                    @*<input type="text" name="DepartmetCode" />*@
                    @*@Html.TextBox("DepartmentCode")*@

                    @Html.TextBoxFor(x => x.DepartmentCode)
                </td>
            </tr>
            <tr>
                <th>Department Name</th>
                <td>
                    @*<input type="text" name="DepartmentName" />*@
                    @*@Html.TextBox("DepartmentName")*@

                    @Html.TextBoxFor(x => x.DepartmentName)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </table>
        <span style="color:red">
            @ViewBag.Message
        </span>
    </form>
</div>
       
     
    @*</div>
</body>
</html>*@
