
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <th>Department Code</th>
                <td>
                    <input type="text" name="DepartmentCode" />
                </td>
            </tr>
            <tr>
                <th>Department Name</th>
                <td>
                    <input type="text" name="DepartmentName" />
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
